@using SmitWinkel.CustomRoutes
@using SmitWinkel.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="../../Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Bootstrap/css/datepicker3.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="../../Content/Bootstrap/js/bootstrap.js"></script>
    <script src="../../Content/Bootstrap/js/bootstrap-datepicker.js"></script>
</head>
<body id="admin">
    <div class="wrapper">
        <div id="banner" class="banner">
            <div class="banner-container clearfix">
                <img class="banner-logo" src="Content/Images/logo.png" />
                <div class="banner-text">@SmitWinkel.Resources.Home.Layout.Header</div>
                <div class="banner-addText">
                    @Html.Raw(SmitWinkel.Resources.Home.Layout.HeaderSubText)
                </div>
                <div class="translate-container">
                    <div class="btn-translation">@Html.GlobalisedRouteLink(Common.OtherLanguageName, Common.OtherLanguageKey, ViewContext.RouteData)</div>
                </div>
            </div>
        </div>
        <div id="nav">
            <nav class="nav-container">
                <div class="btn-translation-sm">
                    @Html.GlobalisedRouteLink(Common.OtherLanguageName, Common.OtherLanguageKey, ViewContext.RouteData)
                </div>
                <span class="nav-btn ">
                </span>
                <ul class="nav">
                    <li><a href="#">@SmitWinkel.Resources.Home.Layout.NavLinkHome</a></li>
                    <li><a href="#">@SmitWinkel.Resources.Home.Layout.NavLinkOurTeam</a></li>
                    <li><a href="#">@SmitWinkel.Resources.Home.Layout.NavLinkDentalService</a></li>
                    <li><a href="#">@Html.Raw(SmitWinkel.Resources.Home.Layout.NavLinkNewPatient)</a></li>
                    <li><a href="#">@SmitWinkel.Resources.Home.Layout.NavLinkContactUs</a></li>
                </ul>
            </nav>

        </div>
        <div id="body" class="body">
            <div class="body-content clearfix">
                <div class="body-page clearfix">
                    @RenderBody()
                </div>

                <div class="body-left clearfix">
                    <div class="clearfix">
                        <div class="link-box">
                            <img src="Content/Images/box1.png" />
                            <div class="link-box-text">
                                <h4>@Html.Raw(SmitWinkel.Resources.Home.Layout.ImgBox1Header)</h4>
                                <div class="box-descText">
                                    @SmitWinkel.Resources.Home.Layout.ImgBox1Text
                                </div>

                            </div>
                        </div>
                        <div class="link-box">
                            <img src="Content/Images/box2.png" />
                            <div class="link-box-text">
                                <h4>@Html.Raw(SmitWinkel.Resources.Home.Layout.ImgBox2Header)</h4>
                                <div class="box-descText">
                                    @SmitWinkel.Resources.Home.Layout.ImgBox2Text
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="link-box greybox">
                            <img src="Content/Images/box3.png" />
                            <div class="link-box-text greyBoxText">
                                <h4>@SmitWinkel.Resources.Home.Layout.ImgBox3Header</h4>
                                @Html.Raw(SmitWinkel.Resources.Home.Layout.ImgBox3Text)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="footer"></div>

    </div>
    <script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
</body>
</html>
