@using  SmitWinkel.Resources.Home
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment</h2>
<h1>@Appointment.Header</h1>
<b>@Appointment.PleaseComplete</b>
<p>@Appointment.WeWillContact</p>

@using (Html.BeginForm("Appointment", "Home", FormMethod.Post, new { @id = "appointmentform" }))
{
    <div class="container">
        <!-- First Name -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.FirstName</div>
            </div>
            <div class="row">
                <div class="col-md-3"><input type="text" name="first_name" class="validate" /></div>
            </div>            
        </div>

        <!-- Surname -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.Surname</div>
            </div>
            <div class="row">
                <div class="col-md-3"><input type="text" name="surname_name" class="validate" /></div>
            </div>            
        </div>

        <!-- Email -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.Email</div>
            </div>
            <div class="row">
                <div class="col-md-3"><input type="text" name="email" class="validate" /></div>
            </div>            
        </div>

        <!-- Contact Number -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.ContactNumber</div>
            </div>
            <div class="row">
                <div class="col-md-3"><input type="text" name="contact_number" class="validate" /></div>
            </div>            
        </div>

        <!-- Contact Method -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.HowShouldWeContact</div>
            </div>
            <div class="row">
                <div class="col-md-3 radiocontainer">
                    <div>@Appointment.Email2
                        <input type="radio" name="contact" class="validate" /></div>
                    <div>@Appointment.Phone
                        <input type="radio" name="contact" class="validate" /></div>
                </div>
            </div>
        </div>

        <!-- Medical Aid -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.MedicalAidQuestion</div>
            </div>
            <div class="row">
                <div class="col-md-3 radiocontainer">
                    <div>@Appointment.MedicalAid
                        <input type="radio" name="medicalaid" class="validate" />
                    </div>
                    <div>@Appointment.Private
                        <input type="radio" name="medicalaid" class="validate" />
                    </div>
                </div>
            </div>            
        </div>

        <!-- When? -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.When</div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   <div class="input-group date">
                       <input type="text" class="form-control validate"><span class="input-group-addon"><i class="glyphicon glyphicon-th" id="calendarpop"></i></span>
                   </div>
                </div>                
            </div>            
        </div>

           <!-- Reason -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">@Appointment.Reason</div>
            </div>
            <div class="row">               
                <div class="col-md-3"><input type="text" name="reason" /></div>
            </div>            
        </div>

        <input type="submit" id="appointmentSubmit" value="Submit" />
    </div>
}

 <script type="text/javascript">
     $(document).ready(function () {
         $('#appointmentSubmit').click(function (e) {
             if (!Validate('appointmentform')){
                 e.preventDefault();
             }
         });
     });

     $('.input-group.date').datepicker({
         format: "mm/dd/yyyy"
     });

     $('#calendarpop').click(function () {
         $('.form-control').removeClass('error');
     });
 </script>
