@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home-text">

    <div class="index-header">
        <h1>@SmitWinkel.Resources.Home.Index.Header</h1>
    </div>
    <hr />
    <div>&nbsp;</div>
    <p>@SmitWinkel.Resources.Home.Index.ContentParagraf1</p>
    <p>@SmitWinkel.Resources.Home.Index.ContentParagraf2</p>
    <p>@SmitWinkel.Resources.Home.Index.ContentParagraf3</p>
    <p>@SmitWinkel.Resources.Home.Index.ContentParagraf4</p>
    <p>@SmitWinkel.Resources.Home.Index.ContentParagraf5</p>
    <p>@SmitWinkel.Resources.Home.Index.ContentParagraf6</p>

    <img class="index-img" src="Content/Images/home-dentist.jpg" />
</div>
