@using SmitWinkel.Resources.Home
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Success.SuccessHeader</h2>

<div>    
    <span>@Success.Your @ViewData["Message"] @Success.Submitted </span>
</div>
<div>
   <a href="Index">@SmitWinkel.Resources.Common.Home</a> 
</div>
